@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:light gray;
  font-size: 5rem;
  border-bottom: 1px solid blue;
  
}
  .h1{
    margin-right: 2rem;
    color:blue;
    font-family: 'Fuzzy Bubbles', cursive;
  }
.color-container {
  border:2px solid blue;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  width: 40rem;
  padding: 1rem;
  background-color: black;
  color: var(--white);
  text-align: center;
  border-radius: 5px;
}
.count {
  display:inline-block;
  font-size: 1rem;
  border: 2px solid cyan;
  margin:4px;
  padding:5px 20px;
}


button {
  padding: 1rem;
  margin: 4rem ;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid yellow;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color:var(--white);
  background-color:#3333ff;
  transition: 0.3s;
}

button:hover{
  background-color: gold;
}